﻿
@model Online_wallet_project.Models.SupplierUserViewModel.SupplierPagingViewModel
@{
    ViewData["Title"] = "Все транзакции поставщика";
}

@if (Model != null)
{
    <h2 align="center">Отчеты по транзакциям</h2><br/>
    <form method="get">
        <div class="form-inline">
            <input type="hidden" name="supplierId" value="@Model.SupplierId" />
            <label class="control-label">Дата с: </label>
            @Html.TextBox("dateTimeFrom", Model.FilterViewModel.SelectedDateFrom, htmlAttributes: new {@class = "form-control", @type = "datetime-local"})
            <label class="control-label">Дата до: </label>
            @Html.TextBox("dateTimeTo", Model.FilterViewModel.SelectedDateTo, htmlAttributes: new {@class = "form-control", @type = "datetime-local"})
            <label class="control-label">Сумма с: </label>
            @Html.TextBox("sumFrom", Model.FilterViewModel.SumFrom, htmlAttributes: new {@class = "form-control", @type = "number"})
            <label class="control-label">Сумма до: </label>
            @Html.TextBox("sumTo", Model.FilterViewModel.SumTo, htmlAttributes: new {@class = "form-control", @type = "number"})
            <div align="right">
                <input type="submit" value="Фильтр" class="btn btn-primary" style="margin-top: 10px; margin-right: 50px" />
            </div>
        </div>
    </form>
    <br />
    <table class="table">
        <tr>
            <td>Дата</td>
            <td>ID пользователя</td>
            <td>Реквизиты</td>
            <td>Сумма</td>
            <td>Комиссия</td>
            <td>Статус</td>
        </tr>
        @foreach (Transaction transaction in Model.Transactions)
        {
            <tr>
                <td>@transaction.DateOfCreate.ToString("dd/MM/yyyy")</td>
                <td>@transaction.UserId</td>
                <td>@transaction.ReportRequisite</td>
                <td>@transaction.SumPay</td>
                <td>@transaction.SumFee</td>
                <td>@transaction.Status.StatusName</td>
            </tr>
        }
    </table>

    if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="AllReportOfSupplier"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-dateTimeTo="@(Model.FilterViewModel.SelectedDateTo)"
           asp-route-dateTimeFrom="@(Model.FilterViewModel.SelectedDateFrom)"
           asp-route-sumFrom="@(Model.FilterViewModel.SumFrom)"
           asp-route-sumTo="@(Model.FilterViewModel.SumTo)"
           asp-route-supplierId="@(Model.SupplierId)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="AllReportOfSupplier"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-dateTimeTo="@(Model.FilterViewModel.SelectedDateTo)"
           asp-route-dateTimeFrom="@(Model.FilterViewModel.SelectedDateFrom)"
           asp-route-sumFrom="@(Model.FilterViewModel.SumFrom)"
           asp-route-sumTo="@(Model.FilterViewModel.SumTo)"
           asp-route-supplierId="@(Model.SupplierId)"
           class="btn btn-default btn">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
}
else
{
    <h2 align="center">Транзакций нету у поставщика</h2>
}

