﻿@using Online_wallet_project.Models.SupplierViewModel
@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForBlockAndUnBlock
@{
    ViewData["Title"] = "Блокировка Пользователя";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="BlockSupplier" asp-antiforgery="true">
    <input type="hidden" asp-for="SupplierID" value="@Model.SupplierID"/>
    <input type="hidden" asp-for="ManagerID" value="@Model.ManagerID"/>
    <div>
        <label asp-for="Description"></label>
        <textarea class="form-control" placeholder="Напишите причину блокировки" asp-for="Description" required></textarea>
    </div>
    <input type="submit" class="btn btn-danger" value="Блокировать"/>
</form>
