﻿
@model Online_wallet_project.Models.SupplierViewModel.SupplierConnectionSettingViewModel
@{
    ViewData["Title"] = "Добавление данных";
}


<h2 align="center">@ViewData["Title"]</h2>

<form asp-action="ConnectionSetting" method="post" asp-antiforgery="true">
    <input name="supplierIdSecond" type="hidden" value="@Model.SupplierId"/>
    @for (int i = 0; i < Model.FieldName.Length; i++)
    {
        <label for="fieldValue">@Model.FieldName[i]</label>
        <input type="hidden" name="fieldNames" value="@Model.FieldName[i]"/>
        <input name="fieldValues" id="fieldValue" class="form-control" type="@Model.FieldType[i]" required/>
    }
    <br/>
    <input type="submit" class="btn btn-primary" value="Далее"/>
</form>