﻿
@model Online_wallet_project.Models.SupplierViewModel.SupplierConnectionSettingViewModel
@{
    ViewData["Title"] = "Настройки соединения поставщика";
}

<h2 align="center">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ConnectionSetting" enctype="multipart/form-data" asp-antiforgery="true">
            <div class="text-danger">@ViewBag.Message</div><br/>
            <input type="hidden" name="supplierId" value="@Model.SupplierId"/>
            <div>
                <label for="dllSup">Загрузка Dll библиотеки</label><br/>
                <input class="form-control" onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this, 'application/x-msdownload', 1000)" type="file" id="dllSup" name="dllSup" accept="application/x-msdownload"/>
            </div>
            <div>
                <button id="addDynamicExtraFieldButton">Добавить поле</button>
            </div>
            <div id="DynamicExtraFieldsContainer">
            </div>

            <button type="submit" class="btn btn-success" style="margin-top: 10px">Далее</button>
        </form>
    </div>
</div>



@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script>
        $('#addDynamicExtraFieldButton').css({ "margin": "5px 0px" }).click(function(event) {
            addDynamicExtraField();
            return false;
        });

        function addDynamicExtraField() {
            var div = $('<div/>', {
                'class': 'DynamicExtraField'
            }).appendTo($('#DynamicExtraFieldsContainer')).css({ "margin": "15px 0px"});
            var input = $('<input/>', {
                value: 'Удаление',
                type: 'button',
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div);
            var label = $('<label for="dropDownList">Тип поля</lable>',{
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-row"});
            var dropDownList = $('<select id="dropDownList" name="fieldType"><option value="text">Текстовой</option></select>').
                appendTo(div).css({ "display": "table-cell" });
            var label = $('<label for="inputForName">Название поля</lable>',{
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-row" });
            var inputForName = $('<input id="inputForName" name="fieldName" type="text" required />', {
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-cell" });
            input.click(function() {
                $(this).parent().remove();
            });
        }

        $('.DeleteDynamicExtraField').click(function(event) {
            $(this).parent().remove();
            return false;
        });
    </script>
}