﻿
@model Online_wallet_project.Models.SupplierViewModel.SupplierRegisterViewModel
@{
    ViewData["Title"] = "Создание Поставщика";
}

<h2>@ViewData["Title"]</h2>
<div>
    @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Manager" asp-action="CreateSupplier" enctype="multipart/form-data">
            <h4>Регистрация Поставщика</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-12 form-group">
                <label asp-for="SupplierName">Название поставщика</label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="PersonalAccount">Лицевой счет</label>
                <input asp-for="PersonalAccount" class="form-control" />
                <span asp-validation-for="PersonalAccount" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="BranchCode">Код филиала</label>
                <input asp-for="BranchCode" class="form-control" />
                <span asp-validation-for="BranchCode" class="text-danger"></span>
            </div>
            <div id="AmountOfRestrictionValue" class="col-md-6 form-group">
                <label asp-for="AmountOfRestriction">Максимальная сумма оплаты</label>
                <input type="number" min="0" asp-for="AmountOfRestriction" class="form-control" />
                <span asp-validation-for="AmountOfRestriction" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="IsRestrictionUpToInfinity"></label>
                <input id="isInfinite" type="checkbox" asp-for="IsRestrictionUpToInfinity" onchange="SetAmountOfRestrictionInfiniteValue()" />
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="GroupModelId">Выберите группу</label>
                <select asp-for="GroupModelId" class="form-control" asp-items="ViewBag.GroupModel"></select>
                <span asp-validation-for="GroupModelId"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Logo">Логотип</label><br />
                <input class="form-control" onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this,'image/png',500)" type="file" name="Logo" accept="image/png" />
            </div>
            <div class="col-md-12" style="margin-top: 20px">
                <button id="addDynamicExtraFieldButton">Добавить поле</button>
            </div>
            <div id="DynamicExtraFieldsContainer" class="col-md-12">
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <button type="submit" class="btn btn-success">Создать</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $('#addDynamicExtraFieldButton').css({ "margin": "5px 0px" }).click(function(event) {
            addDynamicExtraField();
            return false;
        });
 
        function addDynamicExtraField() {
            var div = $('<div/>', {
                'class': 'DynamicExtraField'
            }).appendTo($('#DynamicExtraFieldsContainer')).css({ "margin": "15px 0px"});
            var input = $('<input/>', {
                value: 'Удаление',
                type: 'button',
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div);
            var label = $('<label for="dropDownList">Тип поля</lable>',{
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-row"});
            var dropDownList = $('<select id="dropDownList" name="fieldType"><option value="number">Числовое</option><option value="text">Текстовой</option></select>').
                appendTo(div).css({ "display": "table-cell" });
            var label = $('<label for="inputForName">Название поля</lable>',{
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-row" });
            var inputForName = $('<input id="inputForName" name="fieldName" type="text" required />', {
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-cell" });
            var label = $('<label for="inputForLentgh">Ограничение на длинну вводимого значения</lable>',{
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-row" });
            var inputForLentgh = $('<input required id="inputForLentgh" name="fieldLenghtData" type="number" min="1"/>', {
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-cell" });
            input.click(function() {
                $(this).parent().remove();
            });
        }

        $('.DeleteDynamicExtraField').click(function(event) {
            $(this).parent().remove();
            return false;
        });

        function SetAmountOfRestrictionInfiniteValue() {
            if ($('#isInfinite').prop("checked")) {
                $('#AmountOfRestrictionValue').css('visibility', 'hidden');
            }
            else {
                $('#AmountOfRestrictionValue').css('visibility', 'visible');
            }
        }
    </script>
}



