﻿@model Online_wallet_project.Models.ManagerViewModels.CreateSupplierUserVIewModel
@{
    ViewData["Title"] = "Создание пользователя для поставщика";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUserSupplier" asp-controller="Manager" method="post">
            <h4>Регистрация пользователя поставщика</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierModelId">Выберите поставщика</label>
                <select asp-for="SupplierModelId" class="form-control" asp-items="ViewBag.SupplierModel"></select>
                <span asp-validation-for="SupplierModelId"></span>
            </div>
            <button type="submit" class="btn btn-success" style="margin-top: 10px">Создать</button>
        </form>
    </div>
    <div class="col-md-8">
        <h2>Информация</h2>
        <ul>
            <li>Логин не должен содержать пробелов, вместо пробела используйте "_"</li>
            <li>Пароль и логин выйдет в панели Менеджера после создания</li>
        </ul>
    </div>
</div>


