﻿@model Online_wallet_project.Models.GroupViewModel.GroupRegisterViewModel
@{
    ViewData["Title"] = "Создание Группы";
}

<h2>Создание группы</h2>
<div>
    @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Manager" asp-action="CreateGroup" enctype="multipart/form-data">
            <h4>Регистрация Группы</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="GroupLogo"></label><br />
                <input onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this,'image/png',500)" class="form-control" type="file" name="GroupLogo" value="" accept="image/png"/> 
            </div>
            <button type="submit" class="btn btn-success" style="margin-top: 10px">Создать</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/site.js"></script>
}


