﻿@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForConnectionSetting
@{
    ViewData["Title"] = "EditConnectionSetting";
}

<h2>Редактирование поставщика</h2>
<div>
    @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Manager" asp-action="EditConnectionSettings" enctype="multipart/form-data">
            <h4>Редактирование Поставщика</h4>
            <hr />
            <input type="hidden" value="@Model.SupplierId" asp-for="SupplierId" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label for="dllSup">Загрузка Dll библиотеки</label><br />
                <input class="form-control" onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this, 'application/x-msdownload', 1000)" type="file" id="dllSup" name="dllSup" accept="application/x-msdownload" />
            </div>
            <br />
            <div class="form-group">
                @foreach (var field in Model.ConnectionValue)
                {
                <div>
                    <table>
                        <tr>
                            <td><label>Название поля</label></td>

                            <td><input required name="FieldNames" class="form-control" value="@field.Key" /></td>
                        </tr>
                        <tr>
                            <td><label>Значение</label></td>

                            <td><input required name="FieldValues" class="form-control" value="@field.Value" /></td>
                        </tr>
                    </table>
                    <input type="button" value="Удалить" class="DeleteDynamicExtraField" /><br />
                </div>
                }
            </div>
            <button type="submit" class="btn btn-default">Редактировать</button>
        </form>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script>
        $('.DeleteDynamicExtraField').click(function (event) {
            $(this).parent().remove();
            return false;
        });
    </script>
}