﻿@model GroupModel
@{
    ViewData["Title"] = "EditGroup";
}


<h2>Редактирование группы</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Manager" asp-action="EditGroup" enctype="multipart/form-data">
            <h4>Редактирование Группы</h4>
            <hr />
            <input type="hidden"  value="@Model.Id" asp-for="Id"/>
            <input type="hidden" value="@Model.GroupLogo" asp-for="GroupLogo"/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName"></label>
                <input value="@Model.GroupName" asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="GroupLogo"></label><br />
                <input class="form-control" onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this,'image/png',500)" type="file" name="groupLogo"  accept="image/png" />
            </div>
            <button type="submit" class="btn btn-default">Редактировать</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/site.js"></script>
}

