﻿@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForFields
@{
    ViewData["Title"] = "EditSupplier";
}

<h2>Редактирование поставщика</h2>
<div>
    @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Manager" asp-action="EditSupplier" enctype="multipart/form-data">
            <h4>Редактирование Поставщика</h4>
            <hr />
            <input type="hidden" value="@Model.Supplier.Id" asp-for="Supplier.Id" />
            <input type="hidden" value="@Model.Supplier.Logo" asp-for="Supplier.Logo" />
            <input type="hidden" value="@Model.Supplier.FieldData" asp-for="Supplier.FieldData" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Supplier.SupplierName">Название поставщика</label>
                <input value="@Model.Supplier.SupplierName" asp-for="Supplier.SupplierName" class="form-control" />
                <span asp-validation-for="Supplier.SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.PersonalAccount">Лицевой счет</label>
                <input value="@Model.Supplier.PersonalAccount" asp-for="Supplier.PersonalAccount" class="form-control" />
                <span asp-validation-for="Supplier.PersonalAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.BranchCode">Код филиала</label>
                <input value="@Model.Supplier.BranchCode" asp-for="Supplier.BranchCode" class="form-control" />
                <span asp-validation-for="Supplier.BranchCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.ReportType">Тип данных отправляемых поставщику</label>
                <input value="@Model.Supplier.ReportType" asp-for="Supplier.ReportType" class="form-control" />
                <span asp-validation-for="Supplier.ReportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Transport">Протокол взаимодействия</label>
                <input value="@Model.Supplier.Transport" asp-for="Supplier.Transport" class="form-control" />
                <span asp-validation-for="Supplier.Transport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.AmountOfRestriction">Максимальная сумма оплаты</label>
                <input value="@Model.Supplier.AmountOfRestriction" asp-for="Supplier.AmountOfRestriction" class="form-control" />
                <span asp-validation-for="Supplier.AmountOfRestriction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.GroupModelId">Выберите группу</label>
                <select value="@Model.Supplier.GroupModelId" asp-for="Supplier.GroupModelId" asp-items="ViewBag.GroupModel"></select>
                <span asp-validation-for="Supplier.GroupModelId"></span>
            </div>
            <div>
                <label asp-for="Supplier.Logo">Логотип</label><br />
                <input class="form-control" onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this,'image/png',500)" type="file" name="groupLogo" accept="image/png" />
            </div>
            <br />
            <div class="form-group">
                @foreach (var field in Model.FieldTemplates)
        {
            <div>
                <input type="button" value="Удалить" class="DeleteDynamicExtraField" /><br />
                <table>
                    <tr>
                        <label>Название поля</label>

                        <td><input required name="fieldName" class="form-control" value="@field.FieldName" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Тип поля</label>

                            <select name="fieldType">
                                @if (field.FieldType == "number")
                        {
                            <option value="number">Числовое</option>
                            <option value="text">Текстовой</option>
                }
                else
                {
                    <option value="text">Текстовой</option>
                    <option value="number">Числовое</option>
        }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Ограничение на длинну вводимого значения</label>
                            <input required type="number" min="1" name="FieldLenghtData" class="form-control" value="@field.FieldLenghtData" />
                        </td>
                    </tr>
                </table>
            </div>
}
            </div>
            <div>
                <button id="addDynamicExtraFieldButton">+</button>
            </div>
            <div id="EditDynamicExtraFieldsContainer">
            </div>
            <button type="submit" class="btn btn-default">Редактировать</button>
        </form>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script>
        $('#addDynamicExtraFieldButton').css({ "margin": "5px 0px" }).click(function (event) {
            addDynamicExtraField();
            return false;
        });

        function addDynamicExtraField() {
            var div = $('<div/>', {
                'class': 'DynamicExtraField'
            }).appendTo($('#EditDynamicExtraFieldsContainer')).css({ "margin": "15px 0px" });
            var input = $('<input/>', {
                value: 'Удаление',
                type: 'button',
                'class': 'EditDynamicExtraFieldsContainer'
            }).appendTo(div);
            var label = $('<label for="dropDownList">Тип поля</lable>', {
                'class': 'EditDynamicExtraFieldsContainer'
            }).appendTo(div).css({ "display": "table-row" });
            var dropDownList = $('<select id="dropDownList" name="fieldType"><option value="number">Числовое</option><option value="text">Текстовой</option></select>').
                appendTo(div).css({ "display": "table-cell" });
            var label = $('<label for="inputForName">Название поля</lable>', {
                'class': 'EditDynamicExtraFieldsContainer'
            }).appendTo(div).css({ "display": "table-row" });
            var inputForName = $('<input id="inputForName" name="fieldName" type="text" required />', {
                'class': 'EditDynamicExtraFieldsContainer'
            }).appendTo(div).css({ "display": "table-cell" });
            var label = $('<label for="inputForLentgh">Ограничение на длинну вводимого значения</lable>', {
                'class': 'EditDynamicExtraFieldsContainer'
            }).appendTo(div).css({ "display": "table-row" });
            var inputForLentgh = $('<input required id="inputForLentgh" name="fieldLenghtData" type="number" min="1"/>', {
                'class': 'EditDynamicExtraFieldsContainer'
            }).appendTo(div).css({ "display": "table-cell" });
            input.click(function () {
                $(this).parent().remove();
            });

        }

        $('.DeleteDynamicExtraField').click(function (event) {
            $(this).parent().remove();
            return false;
        });
    </script>
}
