﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Панель Менеджера";
}
<h2 align="center">@ViewData["Title"]</h2>
<div class="row" style="margin-top: 15px">
    <div>
        @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
    </div>
    <div class="container">
        <div>
            <div class="col-md-12">
                <a asp-action="CreateGroup" class="btn btn-primary" asp-controller="Manager">Создать Группу</a>
            </div>
            <div class="col-md-12" style="margin-top: 10px">
                <a asp-action="CreateSupplier" class="btn btn-primary" asp-controller="Manager">Создать Поставщика</a>
            </div>
            <div class="col-md-12" style="margin-top: 10px">
                <a asp-action="ShowAllGroups" class="btn btn-primary" asp-controller="Manager">Вывести все группы</a>
            </div>
            <div class="col-md-12" style="margin-top: 10px">
                <a asp-action="ShowAllSuppliers" class="btn btn-primary" asp-controller="Manager">Вывести всех поставщиков</a>
            </div>
            <div class="col-md-12" style="margin-top: 10px">
                <a asp-action="CreateUserSupplier" class="btn btn-primary" asp-controller="Manager">Создать пользователя для поставщика</a>
            </div>
            <div class="col-md-12" style="margin-top: 10px">
                <a asp-action="ReportOfSupplier" class="btn btn-primary" asp-controller="Manager">Отчеты по поставщикам</a>
            </div>
        </div>
    </div>
</div>

