﻿@model Online_wallet_project.Models.ManagerViewModels.ManagerLoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Логин";
}

<h2 align="center">Вход для менеджера</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="Login" asp-controller="Manager" method="post" asp-antiforgery="true">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Login"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Войти в систему</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}
