﻿
@{
    ViewData["Title"] = "Отчеты по поставщикам";
}

<h2 align="center">@ViewData["Title"]</h2>

<div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2" align="center" style="margin-top: 20px">
                <select id="supplierId" asp-items="@ViewBag.Supplier" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 15px">
            <div class="col-md-6 col-md-offset-1" align="left">
                <form onclick="SingleInput(hidden)" asp-action="AllReportOfSupplier" method="get">
                    <input id="hidden" type="hidden" name="supplierId" value="" />
                    <input type="submit" class="btn btn-info" value="Все отчеты" />
                </form>
            </div>
            <div class="col-md-4" align="right">
                <form onclick="SingleInput(hidden)" asp-action="AllProfitOfSupplier" method="get">
                    <input id="hidden" type="hidden" name="supplierId" value="" />
                    <input type="submit" class="btn btn-info" value="Все доходы" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function SingleInput(oInput) {
            oInput.value = document.getElementById('supplierId').value;
        }
    </script>
}


