﻿
@model IEnumerable<SupplierModel>

@{
    ViewData["Title"] = "Все поставщики";
}

@if (Model.Any())
{
    
    <h2 align="center">@ViewData["Title"]</h2>
    <div>@Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)</div>
    <table class="table">
        <tr>
            <td>Логотип</td>
            <td>Название поставщика</td>
            <td>Группа поставщика</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var supplier in Model)
        {
        <tr>
            <td>
                <img src="~/@supplier.Logo" width="48" height="38" />
            </td>
            <td>
                @supplier.SupplierName
            </td>
            <td>
                @supplier.GroupModel.GroupName
            </td>
            <td>
                <a asp-action="SupplierCommissionInfo" asp-controller="Fee" asp-route-supplierId="@supplier.Id">Справочник по комиссиям</a>
            </td>
            <td>
                <form asp-action="EditSupplier" asp-controller="Manager" asp-antiforgery="true" method="get">
                    <input name="id" type="hidden" value="@supplier.Id" />
                    <input type="submit" value="Редактировать" class="btn btn-default" />
                </form>
            </td>
            <td>
                <form asp-action="EditConnectionSettings" asp-controller="Manager" asp-antiforgery="true" method="get">
                    <input name="id" type="hidden" value="@supplier.Id" />
                    <input type="submit" value="Редактировать настройки подключения поставщика" class="btn btn-default" />
                </form>
            </td>
            @if (supplier.Blocking)
    {
        <td>
            <form asp-action="UnBlockSupplier" asp-controller="Manager" asp-antiforgery="true" method="get">
                <input name="id" type="hidden" value="@supplier.Id" />
                <input type="submit" value="Разблокировать" class="btn btn-default" />
            </form>
        </td>
}
else
{
        <td>
            <form asp-action="BlockSupplier" asp-controller="Manager" asp-antiforgery="true" method="get">
                <input name="id" type="hidden" value="@supplier.Id" />
                <input type="submit" value="Заблокировать" class="btn btn-default" />
            </form>
        </td>
}

        </tr>
        }
    </table>
}
else
{
    <h2 align="center">Пока в системе нету поставщиков</h2>
}
