﻿@model IEnumerable<GroupModel>
@{
    ViewData["Title"] = "Все группы";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <td>Логотип</td>
        <td>Название группы</td>
        <td></td>
    </tr>
    @foreach (var group in Model)
    {
        <tr>
            <td>
                <img src="~/@group.GroupLogo" width="48" height="38"/>
            </td>
            <td>
                @group.GroupName
            </td>
            <td>
                <form asp-action="EditGroup" asp-controller="Manager" asp-antiforgery="true" method="get">
                    <input name="id" type="hidden" value="@group.Id" />
                    <input type="submit" value="Редактировать" class="btn btn-default" />
                </form>                   
            </td>
        </tr>
    }
</table>


