﻿
@{
    ViewData["Title"] = "Ошибка";
}

<div>
    <div>
        <h2 align="center" class="text-danger">Ошибка</h2><br />
        <h4 align="center" class="text-info">Нету поставщиков чтобы просмотреть отчеты!</h4>
        <form method="get"
              asp-controller="Manager"
              asp-action="Index"
              asp-antiforgery="true">
            <input type="submit" class="btn btn-success btn-group-lg center-block" value="Вернуться назад"/>
        </form>
    </div>
</div>


