﻿@using Online_wallet_project.Models.SupplierViewModel
@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForBlockAndUnBlock
@{
    ViewData["Title"] = "Разблокировка Пользователя";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="UnBlockSupplier" asp-antiforgery="true">
    <input type="hidden" asp-for="SupplierID" value="@Model.SupplierID" />
    <input type="hidden" asp-for="ManagerID" value="@Model.ManagerID" />
    <div>
        <label asp-for="Description">Причина разблокировки</label>
        <textarea class="form-control" placeholder="Напишите причину разблокировки" asp-for="Description" required></textarea>
    </div>
    <input type="submit" class="btn btn-danger" value="Разблокировать" />
</form>