﻿@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForFields
@{
    ViewData["Title"] = @Model.Supplier.SupplierName;
}
<div class="row" style="padding-top: 7%">
    <div class="col-md-offset-2 col-md-8 ">
        <img class="center-block" src="~/@Model.Supplier.Logo" width="150" height="150"/>
        <h2 class="text-center" style="font-size: 40px">@Model.Supplier.SupplierName</h2>
        <p class="text-center" style="font-size: 30px; color: firebrick">Оплата по данному поставщику временно заблокирована.</p>
        <form method="get"
              asp-controller="Home"
              asp-action="ViewSuppliers"
              asp-antiforgery="true">
            <input type="hidden" value="@Model.Supplier.GroupModelId" name="groupId"/>
            <input type="submit" class="btn btn-default btn-group-lg center-block" value="Вернутся назад"/>
        </form>
    </div>
</div>
