﻿@using Online_wallet_project.Models.SupplierViewModel
@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForTransactions
@{
    ViewBag.Title = "Подтверждение оплаты";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div style="font-size: 20px; margin-top: 40px">
        <img src="~/@Model.Supplier.Logo" width="50" height="50" alt="" />
        <span>@Model.Supplier.SupplierName</span> <br />
        <div style="margin-top: 40px">
            @Html.Partial("_StatusMassageForAll", Model.Message)
        </div>
        <div style="margin-top: 30px">
            <span>Вы оплатили поставщику: @Model.SumPay сом</span> <br />
            <span>Комиссия: @Model.FeeSum сом</span> <br />
            <span>Итого вы оплатили: @Model.TotalSum сом</span>
        </div>

    </div> <br />
    <a asp-action="Index" asp-controller="home" class="btn btn-danger">Вернуться на главную страницу</a>
</div>
