﻿@using Online_wallet_project.Models.SupplierViewModel
@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForTransactions
@{
    ViewData["Title"] = "Подтверждение оплаты";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <div style="font-size: 20px; margin-top: 40px">
        <img src="~/@Model.Supplier.Logo" width="50" height="50" alt=""/>
        <span>@Model.Supplier.SupplierName</span> <br />
        @Html.Partial("_StatusMassageForAll", Model.Message)
        <div style="margin-top: 30px">
            <span>Вы оплачиваете: @Model.SumPay сом</span> <br />
            <span>Комиссия: @Model.FeeSum сом</span> <br />
            <span>Итого к оплате: @Model.TotalSum сом</span>
        </div>
    </div> <br />
           <form asp-action="ConfirmPayView" method="post" asp-antiforgery="true" style="font-size: 26px">
               <input type="hidden" asp-for="TotalSum" />
               <input type="hidden" asp-for="Json" />
               <input type="hidden" asp-for="SumPay" />
               <input type="hidden" asp-for="FeeSum" />
               <input type="hidden" asp-for="SupplierId" />
               <input type="hidden" asp-for="JsonReportRequisite" />
               <input type="submit" value="Подтвердить" class="btn btn-success" />
               <a asp-action="Index" asp-controller="home" class="btn btn-danger">Отменить</a>
           </form>
</div>
