﻿@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForFields
@{
    ViewData["Title"] = @Model.Supplier.SupplierName;
}

<h2 align="center" style="margin-bottom: 120px">@Model.Supplier.SupplierName</h2>

@if (Model.FieldTemplates.Length > 0)
{
    <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        @Html.Partial("_StatusMassageForAll", Model.Message)
        <form method="Post" asp-action="ForSent" asp-antiforgery="true" align="center">
            <input type="hidden" value="@Model.Supplier.Id" name="supplierId" />
            @foreach (var field in Model.FieldTemplates)
            {
                <div>
                    <input type="hidden" name="fieldName" value="@field.FieldName" />
                    <label>@field.FieldName</label>
                    <input name="value" class="form-control" type="@field.FieldType" maxlength="@field.FieldLenghtData" />
                </div>
            }
            <div>
                <input style="margin-top: 30px" type="submit" class="btn btn-default" value="Отправить" />
            </div>
        </form>
    </div>
}
else
{
    <h2 align="center">У поставщика нету полей для заполнения</h2>
}