﻿@model Online_wallet_project.Models.SupplierViewModel.SupplierViewModelForTransactions

@{
    ViewData["Title"] = "Оплата";
}

<h2 align="center">@ViewData["Title"]</h2>
<div style="margin-top: 70px">
    <div class="col-md-6">
        <img src="~/@Model.Supplier.Logo" width="68" height="68" alt=""/>
        <span>@Model.Supplier.SupplierName</span> <br />
        <div style="margin-top: 30px">
            @if (Model.Supplier.AmountOfRestriction >= UInt32.MaxValue)
            {
                <span style="font-size: 16px">Макс. сумма оплаты: Неограниченна</span>
            }
            else
            {
                <span style="font-size: 18px">Макс. сумма оплаты: @Model.Supplier.AmountOfRestriction</span>
            }
        </div>
        <h3 style="margin-top: 30px; font-size: 30px">Абонент : @Model.CheckUserModel.UserName @Model.CheckUserModel.LastName @Model.CheckUserModel.MiddleName</h3>
        <span style="font-size: 18px">На кошельке: @Model.UserBalance сом</span>
    </div>
    <div class="col-md-5 col-md-offset-1" style="margin-top: 80px">
        @Html.Partial("_StatusMassageForAll", Model.Message)
        <form asp-action="PayView" method="post" asp-antiforgery="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Json" value="@Model.Json" />
            <input type="hidden" asp-for="JsonReportRequisite" value="@Model.JsonReportRequisite" />
            <input type="hidden" asp-for="SupplierId" value="@Model.SupplierId" />
            <input type="hidden" asp-for="CheckUserModel.UserName" />
            <input type="hidden" asp-for="CheckUserModel.LastName" />
            <input type="hidden" asp-for="CheckUserModel.MiddleName" />
            <div style="font-size: 18px" class="form-group">
                <label asp-for="SumPay">Сумма оплаты</label>
                <input type="number" min="0" asp-for="SumPay" class="form-control" />
                <span asp-validation-for="SumPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" style="font-size: 18px" class="btn btn-default">Оплатить</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}
