﻿@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль был успешно сброшен. Пожалуйста, <a asp-action="Login">нажмите сюда для авторизации</a>.
</p>
