﻿@model Online_wallet_project.Models.AdminViewModel.SettingsViewModel

@{
    ViewBag.Title = "Редактирование настроек системы";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Текущие настройки пользователей при неверном входе</h4>
        <br/>
        <table class="table-condensed bg-warning table-bordered">
            <tr>
                <th>
                    Блокировка при неверном входе
                </th>
                @if (Model.UserLockOutSettings.UserLockoutEnabledByDefault != null)
                {
                    if (Model.UserLockOutSettings.UserLockoutEnabledByDefault.Value)
                    {
                        <td>
                            Включен
                        </td>
                    }
                    else
                    {
                        <td>
                            Выключен
                        </td>
                    }
                }
                else
                {
                    <td>
                        Не указана
                    </td>
                }
            </tr>
            @if (Model.UserLockOutSettings.UserLockoutEnabledByDefault != null && Model.UserLockOutSettings.UserLockoutEnabledByDefault.Value)
            {
                <tr>
                    <th>
                        Макс. количество попыток неверных  входа
                    </th>
                    @if (Model.UserLockOutSettings.MaxFailedAccessAttempts != null)
                    {
                        <td>
                            @Model.UserLockOutSettings.MaxFailedAccessAttempts
                        </td>
                    }
                    else
                    {
                        <td>
                            Не указано
                        </td>
                    }
                </tr>
                <tr>
                    <th>
                        Длительность блокировки, в мин
                    </th>
                    @if (Model.UserLockOutSettings.DefaultLockoutTimeSpan != null)
                    {
                        <td>
                            @Model.UserLockOutSettings.DefaultLockoutTimeSpan
                        </td>
                    }
                    else
                    {
                        <td>
                            Не указан
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        <h4>Ваши настройки:</h4>
        <br />
        <form asp-action="EditUserLockoutSettings" asp-controller="Admin">
            <input type="hidden" asp-for="SessionOptionSettings.IdleTimeout"/>
            <div class="form-group">
                @if (Model.UserLockOutSettings.UserLockoutEnabledByDefault != null && Model.UserLockOutSettings.UserLockoutEnabledByDefault.Value)
                {
                    <label>Запретить блокировку при неверных попытках входа?</label>
                    <p><input type="radio" asp-for="UserLockOutSettings.UserLockoutEnabledByDefault" value="false"/>Да</p>
                    <p><input type="radio" asp-for="UserLockOutSettings.UserLockoutEnabledByDefault" value="true" />Нет</p>
                }
                else
                {
                    <label>Разрешить блокировку при неверных попытках входа?</label>
                    <p><input type="radio" asp-for="UserLockOutSettings.UserLockoutEnabledByDefault" value="true" />Да</p>
                    <p><input type="radio" asp-for="UserLockOutSettings.UserLockoutEnabledByDefault" value="false" />Нет</p>
                }
            </div>
            <div class="form-group">
                <label>Максимальное количество попыток неверного входа</label>
                <input type="number" asp-for="UserLockOutSettings.MaxFailedAccessAttempts" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Длительность блокировки в минутах</label>
                <input type="number" asp-for="UserLockOutSettings.DefaultLockoutTimeSpan" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-danger btn-group-justified">Сохранить</button>
        </form>
    </div> 
</div>
<br/>
<div class="row">
    <hr />
    <div class="col-md-6">
        <h4>Текущие настройки сессии пользователей</h4>
        <br/>
        <table class="table-condensed bg-warning table-bordered">
            <tr>
                <th>
                    Ограничение на время сессии, мин
                </th>
                <td>
                    @Model.SessionOptionSettings.IdleTimeout
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h4>Ваши настройки:</h4>
        <br />
        <form asp-action="EditSessionSettings" asp-controller="Admin">
            <input type="hidden" asp-for="UserLockOutSettings.UserLockoutEnabledByDefault"/>
            <input type="hidden" asp-for="UserLockOutSettings.MaxFailedAccessAttempts"/>
            <input type="hidden" asp-for="UserLockOutSettings.DefaultLockoutTimeSpan"/>
            <div class="form-group">
                <label>Длительность сессии в минутах</label>
                <input type="number" asp-for="SessionOptionSettings.IdleTimeout" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-danger btn-group-justified">Сохранить</button>
        </form>
    </div>
</div>

