﻿@{
    ViewData["Title"] = "Панель Администратора";
}
<h2 align="center">@ViewData["Title"]</h2>
<div class="row">
    <div>
        @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
    </div>
    <div class="container">
        <div>
            <div class="col-md-12" style="margin-top: 8px">
                <a asp-action="EditSettings" class="btn btn-primary" asp-controller="Admin">Настройки системы</a>
            </div>
            <div class="col-md-12" style="margin-top: 8px">
                <a asp-action="Search" class="btn btn-primary" asp-controller="Admin">Поиск Пользователей</a>
            </div>
            <div class="col-md-12" style="margin-top: 8px">
                <a asp-action="CreateManager" class="btn btn-primary" asp-controller="Admin">Создать Менеджера</a>
            </div>
            <div class="col-md-12" style="margin-top: 8px">
                <a asp-action="ValidationSettingsPassword" class="btn btn-primary" asp-controller="Admin">Редактирование валидации пароля</a>
            </div>
            <div class="col-md-12" style="margin-top: 8px">
                <a asp-action="ShedullerSettings" class="btn btn-primary" asp-controller="Admin">Настройка расписания запуска</a>
            </div>
        </div>
    </div>
</div>

