﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Online_wallet_project.Models.AdminViewModel
@model Online_wallet_project.Models.AdminViewModel.AdminLoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Логин";
}



<h2 id="admin" align="center">Вход в админку</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="Login" asp-controller="Admin" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Login"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Войти в систему</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts
{
   @Html.Partial("_ValidationScriptsPartial")
}
