﻿
@using Online_wallet_project.Models
@model Online_wallet_project.Models.AdminViewModel.AdminPagingViewModel

@{
    ViewData["Title"] = "Поиск пользователей";
}

@if (Model != null)
{
    <br/>
    <form method="get">
        <div align="center" class="form-inline">
            <label class="control-label">Имя: </label>
            @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new {@class = "form-control"})
            <label class="control-label">Дата с: </label>
            @Html.TextBox("dateTimeFrom", Model.FilterViewModel.SelectedDateFrom, htmlAttributes: new {@class = "form-control", @type = "datetime-local"})
            <label class="control-label">Дата до: </label>
            @Html.TextBox("dateTimeTo", Model.FilterViewModel.SelectedDateTo, htmlAttributes: new {@class = "form-control", @type = "datetime-local"})
            <input type="submit" value="Фильтр" class="btn btn-default"/>
        </div>
    </form>
    <br/>
    <table class="table">
        <tr>
            <td>
                <a asp-action="Search"
                   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-priceFrom="@(Model.FilterViewModel.SelectedDateFrom)"
                   asp-route-priceTo="@(Model.FilterViewModel.SelectedDateTo)">Логин</a>
            </td>
            <td>Почта</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Баланс на счету</td>
            <td>
                <a asp-action="Search"
                   asp-route-sortOrder="@(Model.SortViewModel.DateSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-priceFrom="@(Model.FilterViewModel.SelectedDateFrom)"
                   asp-route-priceTo="@(Model.FilterViewModel.SelectedDateTo)">Дата регистрации</a>
            </td>
            <td></td>
        </tr>
        @foreach (ApplicationUser user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.MoneyBalance</td>
                <td>@user.DateOfCreation.ToString("dd/MM/yyyy HH:mm:ss")</td>
                @if (user.IsLocked)
                {
                    <td>
                        <form asp-action="UnBlockingOfUser"
                              asp-route-userName="@user.UserName"
                              asp-route-Id="@user.Id"
                              method="post" asp-antiforgery="true">
                            <input type="submit" value="UnBlockUser" class="btn btn-default"/>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="BlockingOfUser"
                              asp-route-userName="@user.UserName"
                              asp-route-Id="@user.Id" method="post"
                              asp-antiforgery="true">
                            <input type="submit" value="BlockUser" class="btn btn-default"/>
                        </form>
                    </td>
                }
            </tr>
        }
    </table>

    if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Search"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-priceFrom="@(Model.FilterViewModel.SelectedDateFrom)"
           asp-route-priceTo="@(Model.FilterViewModel.SelectedDateTo)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Search"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-priceFrom="@(Model.FilterViewModel.SelectedDateFrom)"
           asp-route-priceTo="@(Model.FilterViewModel.SelectedDateTo)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="btn btn-default btn">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
}
else
{
    <h2 align="center">Пользователей зарегистрированных пока нет в системе</h2>
}
