﻿@model Online_wallet_project.Models.ViewModels.ShedullerSetingViewModel
@{
    ViewData["Title"] = "Панель настройки обработчика транзакций";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShedullerSettings</title>
</head>
<body>
    <h2>Панель настройки обработчика транзакций</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Admin" asp-action="ShedullerSettings" method="post">
            <input asp-for="Id" type="hidden" value="@Model.Id"/>
            <label>Время первого запуска после старта приложения: @Model.StartTime</label>
            <input asp-for="StartTime" type="text" value="@Model.StartTime"/>
            <label>Время переодичности запуска: @Model.PeriodTime</label>
            <input asp-for="PeriodTime" type="text" value="@Model.PeriodTime"/>
            <br/>
            <button type="submit" class="btn btn-danger">Применить</button>
        </form>
    </div>
</div>
</body>
</html>
