﻿@using Online_wallet_project.Views.Manage
@model Online_wallet_project.Models.AdminViewModel.ValidationSettingViewModel
@{
    ViewData["Title"] = "Валидация пароля при регистрации";
}
<div class="row">
    <div>
        <h4 class="text-center" style="font-size: 30px; margin-top: 20px">Профиль настройки валидации паролей</h4>
        <div style="margin-top: 40px">
            <div class="col-md-6">
                <div>
                    <form method="post" asp-route-Id="@Model.ValidationSettings.Id" asp-action="ValidationSettingsPassword" asp-controller="Admin">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.ValidationSettings.PatternSpecialСharacters">Пароли должны содержать спецсимволы</label>
                            <input type="radio" value="False" asp-for="ValidationSettings.PatternSpecialСharacters" />ВЫКЛ
                            <input type="radio" value="True" asp-for="ValidationSettings.PatternSpecialСharacters" />ВКЛ
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ValidationSettings.BlackPassword">Проверка пароля в черном списке</label>
                            <input type="radio" value="False" asp-for="ValidationSettings.BlackPassword"/>ВЫКЛ
                            <input type="radio" value="True" asp-for="ValidationSettings.BlackPassword"/>ВКЛ
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ValidationSettings.PatternInt">Пароль должен содержать цифры</label>
                            <input type="radio" value="False" asp-for="@Model.ValidationSettings.PatternInt"/>ВЫКЛ
                            <input type="radio" value="True" asp-for="@Model.ValidationSettings.PatternInt"/>ВКЛ
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ValidationSettings.LengthPassword">Проверка на длину пароля</label>
                            <input type="radio" value="False" asp-for="ValidationSettings.LengthPassword"/>ВЫКЛ
                            <input type="radio" value="True" asp-for="ValidationSettings.LengthPassword"/>ВКЛ
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ValidationSettings.LengthPasswordInt">Минимальная длина пароля</label>
                            @if (!Model.ValidationSettings.LengthPassword)
                            {
                                <input type="number" style="width: 60px" value="@Model.ValidationSettings.LengthPasswordInt" asp-for="@Model.ValidationSettings.LengthPasswordInt" disabled="disabled"/>
                            }
                            else
                            {
                                <input type="number" style="width: 60px" value="@Model.ValidationSettings.LengthPasswordInt" asp-for="@Model.ValidationSettings.LengthPasswordInt"/>
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ValidationSettings.PatternUPString">Пароль должен содержать заглавные</label>
                            <input type="radio" value="False" asp-for="ValidationSettings.PatternUPString"/>ВЫКЛ
                            <input type="radio" value="True" asp-for="ValidationSettings.PatternUPString"/>ВКЛ
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ValidationSettings.PatternStringDown">Пароль должен содержать прописные</label>
                            <input type="radio" value="False" asp-for="ValidationSettings.PatternStringDown"/>ВЫКЛ
                            <input type="radio" value="True" asp-for="ValidationSettings.PatternStringDown"/>ВКЛ
                        </div>
                        <button type="submit" class="btn btn btn-success">Сохранить</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <label class="text-center">Настройка списка не валидных паролей</label>
                <div>
                    <form method="post" asp-controller="Admin" asp-action="AddBlackPasswordTable">
                        <label>Введите пароли разделяя их при помощи : пробела или Enter</label>
                        <br/>
                        <textarea name="text_for_pars" wrap="hard" scols="6"></textarea>
                        <button type="submit" class="btn btn-success">Добавить в список</button>
                    </form>
                </div>
                <p>Список паролей</p>
                <div>
                    <form method="post" asp-controller="Admin" asp-action="DeleteBlackPassword">
                        <table class="table table-striped" style="width: auto; min-width: 500px">
                            <tr>
                                <th class="col-md-8">Пароль</th>
                                <th class="col-md-4" style="text-align: right">Удалить</th>
                            </tr>
                            @foreach (BlackPassword blackPassword in Model.BlackPasswords)
                            {
                                <tr>
                                    <td class="col-md-8">@blackPassword.UnsuitablePassword</td>
                                    <td class="col-md-4" style="text-align: right"><button class="btn btn-danger" type="submit" name="delete" value="@blackPassword.Id">Удалить</button></td>
                                </tr>
                            }
                        </table>
                    </form>
                    @if (Model.PageViewModel.HasPreviousPage)
                    {
                    <a asp-action="ValidationSettingsPassword"
                       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                       class="btn btn-default btn">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Назад
                    </a>
                    }
                    @if (Model.PageViewModel.HasNextPage)
                    {
                    <a asp-action="ValidationSettingsPassword"
                       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                       class="btn btn-default btn">
                        Вперед
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/stylenewradio.css" />
<link rel="stylesheet" href="~/scss/style.scss" />