﻿
@using Online_wallet_project.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Профиль</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="SendChangePasswordLinkToEmail">Пароль</a></li>
    <li class="@ManageNavPages.ChangeEmailNavClass(ViewContext)"><a asp-action="EmailChange">Почта</a></li>
    <li class="@ManageNavPages.ShowFavoriteTransactionsNavClass(ViewContext)"><a asp-action="ShowFavoriteTransactions">Показать избранные платежи</a></li>
    <li class="@ManageNavPages.HistoryTransactionNavClass(ViewContext)"><a asp-action="HistoryTransaction">История платежей</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">Внешние логины</a></li>
    }
    @*<li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Двух-факторная аутентификация</a></li>*@
</ul>

