﻿@model Online_wallet_project.Models.ManageViewModels.ChangeEmailViewModel
@{
    ViewBag.Title = "Смена почты";
    ViewData.AddActivePage(ManageNavPages.ChangeEmail);
}

<h3>@ViewBag.Title</h3>
@Html.Partial("_StatusMessage", Model.StatusMessage)
 @if (Model.IsCurrentEmailConfirmed)
 {
     <div class="row">
         <div class="col-md-6">
             <form asp-action="EmailChange">
                 <div asp-validation-summary="All" class="text-danger"></div>
                 <input asp-for="IsCurrentEmailConfirmed"/>
                 <div class="form-group">
                     <label asp-for="NewEmail"></label>
                     <input asp-for="NewEmail" class="form-control"/>
                     <span asp-validation-for="NewEmail" class="text-danger"></span>
                 </div>
                 <button type="submit" class="btn btn-default">Сменить почту</button>
             </form>
         </div>
     </div>

 }
 else
 {
     <div class="row">
         <div class="col-md-6">
             <div class="alert alert-danger alert-dismissible" role="alert">
                 <p>Сперва подтвердите свою текущую почту</p>
             </div>
             <form method="post">
                 <button asp-action="SendVerificationEmail" class="btn btn-default">Отправить письмо с подтверждением на текущую почту</button>
             </form>
         </div>
     </div> 
 }

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


