﻿
@model Online_wallet_project.Models.ManageViewModels.ManagePagingViewModel
@{
    ViewData["Title"] = "История транзакций";
    ViewData.AddActivePage(ManageNavPages.HistoryTransaction);
}
<h4 align="center">@ViewData["Title"]</h4>

@if (Model.Transactions.Any())
{
    <table class="table">
        <tr>
            <td>Дата оплаты</td>
            <td>Название поставщика</td>
            <td>Сумма оплаты</td>
            <td>Сумма комиссии</td>
            <td>Статус транзакции</td>
        </tr>
        @foreach (var trans in Model.Transactions)
        {
            <tr>
                <td>@trans.DateOfCreate.ToString("dd/MM/yyyy")</td>
                <td>@trans.Supplier.SupplierName</td>
                <td>@trans.SumPay</td>
                <td>@trans.SumFee</td>
                <td><a asp-action="SalesReceipt" asp-route-transactionId="@trans.Id" asp-antiforgery="true">@trans.Status.StatusName</a></td>
            </tr>
        }
    </table>

    if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="HistoryTransaction"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="HistoryTransaction"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-default btn">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
}
else
{
    <h2 align="center">Вы пока не совершали оплаты</h2>
}