@using Online_wallet_project.Models.ManageViewModels
@model Online_wallet_project.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Профиль";
    ViewData.AddActivePage(ManageNavPages.Index);
}

@*<h4>Профиль</h4>*@
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Username" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <input asp-for="Balance" type="hidden" />
            <input asp-for="IsEmailConfirmed" type="hidden" />
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Balance"></label>
                <span class="form-control" disabled>@string.Format("{0} Com", Model.Balance)</span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Lastname"></label>
                <input asp-for="Lastname" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Отправить письмо с подтверждением</button>
                }
            </div>
            <br />
            <button type="submit" class="btn btn-default">Сохранить</button>
        </form>
    </div>
    @if (Model.LastTransactions.Any())
    {
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>Дата оплаты</td>
                    <td>Название поставщика</td>
                    <td>Сумма оплаты</td>
                    <td>Сумма комиссии</td>
                    <td>Статус</td>
                    <td></td>
                </tr>
                @foreach (var trans in Model.LastTransactions)
                {
                <tr>
                    <td>@trans.DateOfCreate.ToString("dd/MM/yyyy")</td>
                    <td>@trans.Supplier.SupplierName</td>
                    <td>@trans.SumPay</td>
                    <td>@trans.SumFee</td>
                    @if (@trans.Status.StatusName == "Pay")
                    {
                    <td><a asp-action="SalesReceipt" asp-route-transactionId="@trans.Id" asp-antiforgery="true">@trans.Status.StatusName</a></td>
                    }
                    else
                    {
                        <td>@trans.Status.StatusName</td>
                    }
                    @if (!trans.IsFavorite)
                    {
                        <td>
                            <form asp-action="AddToFavorites"
                                  asp-route-Id="@trans.Id"
                                  method="post" asp-antiforgery="true">
                                <input type="submit" value="Добавить в избранное" class="btn btn-default" />
                            </form>
                        </td>
                    }
                </tr>
                }
            </table>
        </div>
    }

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
