﻿@using Newtonsoft.Json.Linq
@model Online_wallet_project.Models.ManageViewModels.SalesReceiptViewModel
@{
    Layout = null;

    dynamic blog = JObject.Parse(Model.CompanyInfo);
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Чек №@Model.TransactionId</title>
</head>
<body>
<div class="row">
    <div class="col-md-6 ">
        <table style="border: 2px dashed black">
            <tr>
                <td style="float: right">----------------------------</td>
                <td>----------------------------</td>
            </tr>
            <tr>
                <td style="float: right">Copmany Name:</td>
                <td>@blog.CompanyName</td>
            </tr>
            <tr>
                <td style="float: right">Copmany phone:</td>
                <td>@blog.Phone</td>
            </tr>
            <tr>
                <td style="float: right">Copmany Website:</td>
                <td>@blog.WebSite</td>
            </tr>
            <tr>
                <td style="float: right">Copmany eMail:</td>
                <td>@blog.Email</td>
            </tr>
            <tr>
                <td style="float: right">----------------------------</td>
                <td>----------------------------</td>
            </tr>
            <tr>
                <td style="float: right">Чек №:</td>
                <td>@Model.TransactionId</td>
            </tr>
            <tr>
                <td style="float: right">Пользователь:</td>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <td style="float: right">----------------------------</td>
                <td>----------------------------</td>
            </tr>
            <tr>
                <td style="float: right">Поставщик:</td>
                <td>@Model.SupplierName</td>
            </tr>
            <tr>
                <td style="float: right">Реквезит:</td>
                <td>@Model.PersonalAccount</td>
            </tr>
            <tr>
                <td style="float: right">Статус оплаты:</td>
                <td>@Model.StatusName</td>

            </tr>
            <tr>
                <td style="float: right">Принято:</td>
                <td>@Model.SumPayAndFee</td>
            </tr>
            <tr>
                <td style="float: right">Сумма коммисии:</td>
                <td>@Model.SumFee</td>
            </tr>
            <tr>
                <td style="float: right">Сумма пополнения:</td>
                <td>@Model.SumPay</td>
            </tr>
            <tr>
                <td style="float: right">Дата оплаты:</td>
                <td>@Model.DateOfCreate</td>
            </tr>
            <tr>
                <td style="float: right">----------------------------</td>
                <td>----------------------------</td>
            </tr>
        </table>
        <br/>
        <input type='button' value='Распечатать' onClick='window.print()' class="btn btn-default">
    </div>
</div>
</body>
</html>
