﻿@model Online_wallet_project.Models.ApplicationUser
@{
    ViewData["Title"] = "Смена пароля";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
<h3>@ViewData["Title"]</h3>
<div class="row">
    @if (Model.EmailConfirmed)
    {
        <div class="col-md-9">
            <p class="alert alert-info">
                <b>
                    Еслы вы хотите сменить пароль, то нажмите на кнопку ниже. Вам на почту будет выслана ссылка.
                    Ссылка перенаправит вас на страничку с редактированием пароля.
                </b>
            </p>
            <form asp-action="SendChangePasswordLinkToEmail" method="post">
                <input name="userId" value="@Model.Id" type="hidden"/>
                <button type="submit" class="btn btn-default">Отправить ссылку на почту</button>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <p>Сперва подтвердите свою текущую почту</p>
            </div>
            <form method="post">
                <button asp-action="SendVerificationEmail" class="btn btn-default">Отправить письмо с подтверждением на текущую почту</button>
            </form>
        </div>
    } 
</div>

