﻿@using Online_wallet_project.Models
@model Online_wallet_project.Models.ManageViewModels.ManagePagingViewModel

@{
    ViewData["Title"] = "Избранные платежи";
    ViewData.AddActivePage(ManageNavPages.ShowFavoriteTransactions);
}
<h4 align="center">@ViewData["Title"]</h4>

@if (Model.Transactions.Any())
{
<table class="table">
    <tr>
        <td>Название поставщика</td>
        <td>Сумма оплаты</td>
        <td>Сумма комиссии</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var trans in Model.Transactions)
        {
    <tr>
        <td>@trans.Supplier.SupplierName</td>
        <td>@trans.SumPay</td>
        <td>@trans.SumFee</td>
        <td>
            <form asp-action="PayAgain"
                  asp-controller="Transaction"
                  asp-route-Id="@trans.Id"
                  method="get" asp-antiforgery="true">
                <input type="submit" value="Оплатить снова" class="btn btn-default" />
            </form>
        </td>
        <td>
            <form asp-action="DeleteFromFavorites"
                  asp-controller="Manage"
                  asp-route-Id="@trans.Id"
                  method="post" asp-antiforgery="true">
                <input type="submit" value="Удалить" class="btn btn-default" />
            </form>
        </td>
    </tr>
        }
</table>

if (Model.PageViewModel.HasPreviousPage)
 {
<a asp-action="ShowFavoriteTransactions"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
   class="btn btn-default btn">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Назад
</a>
 }
if (Model.PageViewModel.HasNextPage)
 {
<a asp-action="ShowFavoriteTransactions"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
   class="btn btn-default btn">
    Вперед
    <i class="glyphicon glyphicon-chevron-right"></i>
</a>
 }

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
}
else
{
<h2 align="center">У вас нет избранных платежей</h2>
}
