﻿
@model IEnumerable<GroupModel>

@{
    ViewData["Title"] = "Главная страница";
}

<div>@Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)</div>

@if (Model.Any())
{
    foreach (var group in Model)
    {
        <a asp-action="ViewSuppliers" asp-route-groupId="@group.Id">
            <div class="btn btn-default" style="margin-top: 15px; width: 100%; height: 50px">
                <img style="float: left" src="~/@group.GroupLogo" width="48" height="38"/>
                <div style="padding: 5px; font-size: large">@group.GroupName</div>
            </div>
        </a>
    }
}
else
{
    <h2 align="center">Пока в системе нету ни одной группы</h2>
}