﻿
@model IEnumerable<SupplierModel>

@{
    ViewData["Title"] = "Все поставщики";
}

@if (Model.Any())
{
    <h2 align="center">Все поставщики</h2><br/>
    <div style="clear:both;">
        @foreach (var supplier in Model)
        {
            <a asp-controller="Transaction"
               asp-action="Index"
               asp-route-supplierId="@supplier.Id">
                <div class="btn btn-default col-md-4" style="margin-top: 10px; height: 50px">
                    <img src="~/@supplier.Logo" width="48" height="38" style="float: left" />
                    <div style="padding: 5px; font-size: large">@supplier.SupplierName</div>
                </div>
            </a>
        }
    </div>
}
else
{
    <h2 align="center">Поставщиков нету у этой группы</h2>
}

