﻿@using Online_wallet_project.Models.SupplierFeeViewModels

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Мастер-форма по настройке комисcии поставщика";
}

<h2>@ViewBag.Title</h2>
<div>
    <br/>
    <div class="row">
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

