﻿@model Online_wallet_project.Models.SupplierFeeViewModels.SupplierFeePartViewModel
@{
    ViewBag.Title = "Создание доли оператора c комиссии";
}
@Html.Partial("SupplierInfo", Model.FeeHistoryModel)
<h3>@ViewBag.Title</h3>
<div class="row">
    <div class="col-md-12 row">
        @Html.Partial("_StatusMessage", Model.Message)
        <form asp-action="CreateSupplierFeePartReport" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="SupplierId" />
            <input asp-for="IsEdited" />
            <input asp-for="ReportId" />
            <div>
                <div>
                    <div class="col-md-6 form-group-lg">
                        <label asp-for="CalcMethodList"></label>
                        @Html.DropDownList("selectedMethod", Model.CalcMethodList, new { @class = "form-control" })
                        <span asp-validation-for="CalcMethodList" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group-lg">
                        <label asp-for="SharedValue"></label>
                        <input type="number" min="0" asp-for="SharedValue" step="0.01" title="Введите числовое значениеы" class="form-control" />
                        <span asp-validation-for="SharedValue" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="col-md-6 form-group-lg">
                    <label asp-for="DateOfStart"></label><br />
                    <label class="form-control">@Model.DateOfStart.ToShortDateString()</label>
                    <input asp-for="DateOfStart" type="hidden" value="@Model.DateOfStart" />
                </div>
            </div>
            <div class="col-md-offset-9 col-md-3">
                <button type="submit" class="btn btn-default btn-group-lg">Сохранить запись</button>
            </div>
        </form>
    </div>
</div>
<br/>
<hr/>
@if (Model.IsEdited && Model.ReportId > 0 || Model.IsEdited && Model.ReportId == - 1)
{
    <div class="col-md-offset-10 col-md-2">
        <a asp-action="SupplierCommissionInfo" asp-controller="Fee" asp-route-supplierId="@Model.SupplierId" class="btn btn-default btn-group-lg">
            Выйти
        </a>
    </div>
}
else
{
    <div class="col-md-offset-7" style="display: inline-block; margin-bottom: 40px">
        <form asp-action="CreateFeePaidByUser" asp-controller="Fee" asp-antiforgery="true" method="get">
            <input type="hidden" asp-for="SupplierId" />
            <input type="hidden" asp-for="DateOfStart" />
            <input asp-for="IsEdited" />
            <input type="submit" value="Далее создание комиссии для клиентов поставщика" class="btn btn-default btn-group-lg" />
        </form>
    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
