﻿@model Online_wallet_project.Models.SupplierFeeViewModels.FeePaidByUserViewModel
@{
    ViewBag.Title = "Создание комиссии для клиента поставщика";
}
@Html.Partial("SupplierInfo", Model.FeeHistoryModel)
<br />
<h3>@ViewBag.Title</h3>
<div class="row">
    <div class="col-md-12 row">
        @Html.Partial("_StatusMessage", Model.Message)
        <form asp-action="CreateFeePaidByUser" method="post" asp-antiforgery="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="SupplierId" />
            <input asp-for="IsEdited" />
            <input asp-for="FromAmount" type="hidden" />
            <div>
                <div class="col-md-5 form-group-lg">
                    <label asp-for="FromAmount"></label><br />
                    <label class="form-control">@Model.FromAmount</label>
                </div>
                <div id="toAmountValue" class="col-md-5 form-group-lg">
                    <label asp-for="ToAmount"></label>
                    <input type="number" min="0" asp-for="ToAmount" class="form-control" />
                    <span asp-validation-for="ToAmount" class="text-danger"></span>
                </div>
                <div class="col-md-2 form-group-lg">
                    <label asp-for="IsUpToMaxSum"></label>
                    <input id="isUpToMaxSum" type="checkbox" asp-for="IsUpToMaxSum" onchange="SetMaxSumToAmountValue()" />
                </div>
                <br />
                <div>
                    <div class="col-md-12 form-group-lg">
                        <label asp-for="CalcMethodList"></label>
                        @Html.DropDownList("selectedMethod", Model.CalcMethodList, new { @class = "form-control" })
                        <span asp-validation-for="CalcMethodList" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group-lg">
                        <label asp-for="FeeValue"></label>
                        <input type="number" min="0" asp-for="FeeValue" step="0.01" title="Введите числовое значение" class="form-control" />
                        <span asp-validation-for="FeeValue" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="col-md-6 form-group-lg">
                    <label asp-for="DateOfStart"></label><br />
                    <label class="form-control">@Model.DateOfStart.ToShortDateString()</label>
                    <input asp-for="DateOfStart" type="hidden" value="@Model.DateOfStart" />
                </div>
            </div>
            <div class="col-md-offset-9 col-md-3" style="margin-top: 15px">
                <button type="submit" class="btn btn-default btn-group-lg">Сохранить запись</button>
            </div>
        </form>
        <br />
        <div class="col-md-offset-9 col-md-3" style="margin-top: 30px">
            <button type="submit" class="btn btn-default btn-group-lg" onclick="SendExitFromMaster()">Выйти из мастер-формы</button>
        </div>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        function SetMaxSumToAmountValue() {
            if ($('#isUpToMaxSum').prop("checked")) {
                $('#toAmountValue').css('visibility', 'hidden');
            }
            else {
                $('#toAmountValue').css('visibility', 'visible');
            }
        }

        function SendExitFromMaster() {
            alert("Чтобы выйти с мастер-формы нужно покрыть весь диапозон до макс. суммы платежа по этому поставщику");
            
        }
    </script>
}