﻿@model Online_wallet_project.Models.SupplierFeeViewModels.DateOfStartSelectViewModel

@{
    ViewBag.Title = "Выбор даты старта для новой записи";
}

<h4>@ViewBag.Title</h4>
<br/>
<div class="col-md-12 row">
    <form asp-action="DateOfStartSelect" asp-controller="Fee" method="post" asp-antiforgery="true">
        <input asp-for="SupplierId" />
        <input asp-for="IsEdited" />
        <input asp-for="MethodToRedirect" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-6 form-group-lg">
            <label asp-for="DateOfStart"></label>
            <input asp-for="DateOfStart" class="form-control" />
            <span asp-validation-for="DateOfStart" class="text-danger"></span>
        </div>
        <div class="col-md-offset-5 col-md-7" style="margin-top: 10px">
            <input type="submit" value="Далее" class="btn btn-default btn-group-lg" />
        </div>
    </form>
</div>

