﻿@model Online_wallet_project.Models.SupplierFeeViewModels.SupplierFeeStatusViewModel
@{
    ViewBag.Title = "Настройки комиссии";
}
@Html.Partial("_StatusMessage", Model.Message)

<h3>@ViewBag.Title</h3>

@Html.Partial("SupplierInfo", Model.FeeHistoryModel)
<div>
    <hr />
    <form asp-action="FeeTypeSelect" method="post" asp-antiforgery="true">
        <input asp-for="SupplierId" />
        <input asp-for="IsEdited" />
        <div>
            <div class="form-group-lg">
                <label asp-for="FeeTypeSelectList"></label>
                @Html.DropDownList("feeStatus", Model.FeeTypeSelectList, new { @class = "form-control" })
                <span asp-validation-for="FeeTypeSelectList"></span>
            </div>
            <br />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-6 form-group-lg">
                <label asp-for="DateOfStart"></label>
                <input asp-for="DateOfStart" class="form-control" />
                <span asp-validation-for="DateOfStart" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="col-md-offset-11 col-md-1">
            <input type="submit" value="Далее" class="btn btn-default btn-group-lg" />
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


