﻿@model Online_wallet_project.Models.SupplierFeeViewModels.SupplierFeeHistoryViewModel
@{
    ViewBag.Title = "Выход из мастера";
}
@Html.Partial("SupplierInfo", Model)
<h3>Весь диапазон успешно покрыт</h3>
<br />
<div>
    <a asp-action="SupplierCommissionInfo" asp-controller="Fee" asp-route-supplierId="@Model.Supplier.Id" class="btn btn-default btn-group-lg">
        Выйти из мастер-формы
    </a>
</div>