﻿@model Online_wallet_project.Models.SupplierFeeViewModels.SupplierFeeHistoryViewModel
<div>
    <div style="border: 2px solid black; padding: 0 7px">
        <table class="table table-responsive table-striped">
            <tr>
                <th>Имя поставщика</th>
                <th>Макс. сумма платежа</th>
                <th>Статус комиссии на текущий день</th>
            </tr>
            <tr>
                <td>
                    @Model.Supplier.SupplierName
                </td>
                @if (Model.Supplier.AmountOfRestriction >= UInt32.MaxValue)
                {
                    <td>
                        Неограниченна
                    </td>
                }
                else
                {
                    <td>
                        @Model.Supplier.AmountOfRestriction
                    </td>
                }
                @if (Model.FeeStatusName == null)
                {
                    <td>
                        Не установлена
                    </td>
                }
                else
                {
                    <td>
                        @Model.FeeStatusName
                    </td>
                }

            </tr>
        </table>
    </div>
    <hr />
    @if (Model.FeeStatusChanges != null)
    {
        <div style="border: 2px solid black; padding: 0 7px">
            <h4>Изменения в статусах комиссии</h4>
            <table class="table table-responsive table-striped">
                <tr>
                    <th>Дата старта</th>
                    <th>Статус</th>
                    <th>Состояние</th>
                </tr>
                @foreach (var status in Model.FeeStatusChanges)
                {
                    if (status.Id == Model.CurrentFeeStatusId)
                    {
                        <tr style="background-color: yellow">
                            <td>
                                @status.DateOfStart.ToShortDateString()
                            </td>
                            <td>
                                @status.FeeStatus
                            </td>
                            <td>
                                <b>Актуальный</b>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @status.DateOfStart.ToShortDateString()
                            </td>
                            <td>
                                @status.FeeStatus
                            </td>
                            <td>
                                Неактуален
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
        <hr />
    }
    @if (Model.TurnOverHistory != null)
    {
        <div style="border: 2px solid black;  padding: 0 7px">
            <h4>Доля оператора с оборота при безкомиссионых платежах</h4>
            <table class="table table-striped">
                <tr>
                    <th>Дата старта</th>
                    <th>Сумма с</th>
                    <th>Сумма до</th>
                    <th>Способ подсчета</th>
                    <th>Доля</th>
                    <th>Дата создания</th>
                </tr>
                @foreach (var report in Model.TurnOverHistory)
                {
                    <tr>
                        <td>@report.DateOfStart.ToShortDateString()</td>
                        <td>@report.SumMin</td>
                        @if (report.SumMax >= UInt32.MaxValue)
                        {
                            <td>И выше</td>
                        }
                        else
                        {
                            <td>@report.SumMax</td>
                        }
                        <td>@report.CalculatingMethod</td>
                        <td>@report.SharedValue</td>
                        <td>@report.DateOfCreation</td>
                    </tr>
                }
            </table>
        </div>
        <hr />
    }
    @if (Model.FeePartHistory != null)
    {
        <div style="border: 2px solid black;  padding: 0 7px">
            <h4>Доля оператора при делении комиссии</h4>
            <table class="table table-striped">
                <tr>
                    <th>Дата старта</th>
                    <th>Способ подсчета</th>
                    <th>Доля</th>
                    <th>Дата создания</th>
                </tr>
                @foreach (var report in Model.FeePartHistory)
                {
                    <tr>
                        <td>@report.DateOfStart.ToShortDateString()</td>
                        <td>@report.CalculatingMethod</td>
                        <td>@report.SharedValue</td>
                        <td>@report.DateOfCreation</td>
                    </tr>
                }
            </table>
        </div>
        <hr />
    }
    @if (Model.FeePaidByUserHistory != null)
    {
        <div style="border: 2px solid black; padding: 0 7px">
            <h4>Комиссия взимаемая с клиентов поставщика</h4>
            <table class="table table-striped">
                <tr>
                    <th>Дата старта</th>
                    <th>Сумма с</th>
                    <th>Сумма до</th>
                    <th>Способ подсчета</th>
                    <th>Комиссия</th>
                    <th>Дата создания</th>
                </tr>
                @foreach (var report in Model.FeePaidByUserHistory)
                {
                    <tr>
                        <td>@report.DateOfStart.ToShortDateString()</td>
                        <td>@report.SumMin</td>
                        @if (report.SumMax >= UInt32.MaxValue)
                        {
                            <td>И выше</td>
                        }
                        else
                        {
                            <td>@report.SumMax</td>
                        }
                        <td>@report.CalculatingMethod</td>
                        <td>@report.FeeValue</td>
                        <td>@report.DateOfCreation</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
