﻿@{
    ViewData["Title"] = "Панель Поставщика";
}

<h2 align="center">@ViewData["Title"]</h2>

<div class="row" style="margin-top: 15px">
    <div>
        @Html.Partial("_StatusMassageForAll", (string)ViewBag.Message)
    </div>
    <div class="container">
        <div class="col-md-12" style="margin-top: 8px">
            <a asp-action="ShowAllTransaction" class="btn btn-primary" asp-controller="SupplierUser">Вывести все транзакции</a><br />
        </div>
        <div class="col-md-12" style="margin-top: 8px">
            <a asp-action="ShowProfit" class="btn btn-primary" asp-controller="SupplierUser">Вывести доход от комиссий/оборота</a><br />
        </div>
    </div>
</div>

