﻿
@using System.Globalization
@using Online_wallet_project.Models.SupplierUserViewModel
@model SupplierUserShowProfitPagingViewModel
@{
    ViewData["Title"] = "Доход от комиссии или оборота";
}

@if (Model != null)
{
<h2 align="center">Доход от комиссии или оборота</h2>
    <form method="get">
        <div class="form-inline" align="center" style="margin-top: 20px">
            <label class="control-label">Дата с: </label>
            @Html.TextBox("dateTimeFrom", Model.FilterViewModel.SelectedDateFrom, htmlAttributes: new { @class = "form-control", @type = "datetime-local" })
            <label class="control-label">Дата до: </label>
            @Html.TextBox("dateTimeTo", Model.FilterViewModel.SelectedDateTo, htmlAttributes: new { @class = "form-control", @type = "datetime-local" })

            <input type="submit" value="Фильтр" class="btn btn-primary" />
        </div>
    </form>
    <br />
    <table class="table">
        <tr>
            <td><b>Дата</b></td>
            <td><b>Общая сумма</b></td>
            <td><b>Сумма дохода</b></td>
        </tr>
        @foreach (var g in Model.SupplierUserGroupingTransactions)
        {
            <tr>
                <td>@g.Date.ToString("MMMM/yyyy", new CultureInfo("ru-Ru"))</td>
                <td>@g.AllSum</td>
                <td>@g.Profit</td>
            </tr>
        }
    </table>

    if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="ShowProfit"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-dateTimeTo="@(Model.FilterViewModel.SelectedDateTo)"
           asp-route-dateTimeFrom="@(Model.FilterViewModel.SelectedDateFrom)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="ShowProfit"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-dateTimeTo="@(Model.FilterViewModel.SelectedDateTo)"
           asp-route-dateTimeFrom="@(Model.FilterViewModel.SelectedDateFrom)"
           class="btn btn-default btn">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
}
else
{
    <h2 align="center">Нету оборотов либо транзакций</h2>
}

